@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css';

body {
  background-color: #EED;
  text-align: center;
}

input {
  height: 20px;
  width: 150px;
  margin: 10px;
}

select {
  display: block;
  margin: 10px auto;
  width: 150px;
}

button {
  width: 150px;
  margin: 10px;
}
